:root{
    --font-mono: ui-monospace, menlo, monaco, 'cascadia mono', 'segoe ui mono',
    'fira mono', 'droid sans mono', 'courier new', monospace;
    --transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/1170577.jpg.);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: var(--font-mono);
}

section h2{
    margin-top: 1%;
    margin-left: 2%;
    text-align: left;
    width: 100%;
    font-size: 2.5em;
    color: #ffffff;
    display: inline-block;
   
}

#caja{
    text-align: center;
    background-color: #7a1e474d;
    height: 4%;
    width: 40%;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

button{
    position: relative;
    left: 30%;
    margin-top: 1%;

}

#logout{
    text-align: center;
    width: 15%;
    height: 10%;
    margin-top: 1%;
    background-color: #7a1e474d;
    color: #ffffff;
    font-family: var(--font-mono);
    transition: var(--transition);
    border-radius:9PX;
    -webkit-border-radius:9PX;
    -moz-border-radius:9PX;
    -ms-border-radius:9PX;
    -o-border-radius:9PX;
}

footer{
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.copyright{
    color:#FFFFFF;
    font-size: 13px;
    margin:20px;
}