:root{
    --font-mono: ui-monospace, menlo, monaco, 'cascadia mono', 'segoe ui mono',
    'fira mono', 'droid sans mono', 'courier new', monospace;
    --transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

:root{
--font:#e5e5e5;
    --white:#ffffff;
    --dark-blue:#0a3871;
    --greey:#c5c5c5;
    --fondo-tex:#9f0d4f4d;
    --rgba:rgba(0,0,0,0.08);
    --fondo-hover-botón:#a9730ecc;
    --gree:#495057;
}



::selection{
    background: var(--dark-blue);
    color: red;

}

body{
        height: 100%;
        background-image: url(img/background-image-3497025_1920.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: var(--font-mono);
}

/*--encabezado--*/
header{
    position: absolute;
    margin: 40px 0px 0px 40px;
}

header .logo{
    display: flex;
    align-items: flex-start;
    width: 120px;
    height: 40px;
}

/*----------------------
Principal
----------------------*/

img{
    max-width: 100%;
}


section{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
}
section h1{
    font-size: 3em;
    display: inline-block;
}


section h2{
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
    font-size: 2.5em;
    color: #ffffff;
    display: inline-block;
}

section form{
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: 4px solid white;
}

section form label{
    width: 100%;
    padding: 0.2em;
    margin-bottom: 0.5em;
    color: rgb(161, 229, 182);
}

section form input{
    width: 100%;
    margin-bottom: 1em;
    padding: 0.8em;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    border: none;
    -o-border-radius: 9px;
    outline-color: rgba(101, 199, 161, 0.76);
    background-color: rgba(141, 218, 224, 0.249);
}

.principal input{
    background-color: #ffffff;
}


section form input[type=submit]{
    margin-top: 1.5em;
    background-color: var(--fondo-hover-botón);
    color: var(--font);
    font-family: var(--font-mono);
    transition: var(--transition);
}

section form input[type=submit]:active{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.submit:hover{
    color: rgb(7, 7, 7);
    cursor: pointer;
    background: rgba(122, 227, 188, 0.444);
    border: 2px solid white;
}

section p{
    text-align: center;
    margin-top: 1.5em;
}

section p a{
    text-decoration: none;
    color: #f5eab7;
    font-size: 1.5rem;
    
}

.fondo{
    background-color: rgba(122, 227, 188, 0.444);
    height: 4%;
    width: 30%;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

.fondo a:hover{
    color: blue;
    font-size: 1.6rem;
}

/*------------------------------------
  Pie de pagina
  ------------------------------------*/
footer{
    margin-top: 15px;
    text-align: center;
    padding: 10px;
    border-top: 2px solid var(--fondo-tex);
    color:var(--font);
    text-align: center;
    height: 5px;
    font-size: 20px;
    font-weight: 700;
    color: var(--font);
}


.linke:hover{
    color: var(--greey);
    opacity: 0.8;
}

.github{
    background: var(--greey);
}
.github:hover{
    color: var(--greey);
    opacity: 0.6;
}
.copyright{
    color:var(--font);
    font-size: 13px;
    margin:10px;
}


@media(max-width: 1250px){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }
    .principal{
        margin: 168px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .popup-class{
        max-width: 100%;
        width: auto;
        height: auto;
        max-height: 100%;
       
}
}

@media(max-width: 720px){
 
    .copyright{
        font-size: 20;
        
    }
}

