:root{
    --font-mono: ui-monospace, menlo, monaco, 'cascadia mono', 'segoe ui mono',
    'fira mono', 'droid sans mono', 'courier new', monospace;
    --transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

:root{
    --font:#e5e5e5;
    --white:#ffffff;
    --dark-blue:#0a3871;
    --greey:#c5c5c5;
    --fondo-tex:#9f0d4f4d;
    --rgba:rgba(0,0,0,0.08);
    --fondo-hover-boton:#c30a0abc;
    --gree:#495057;
}


*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-image: url(img/1170577.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: var(--font-mono);
}

::selection{
    background: var(--dark-blue);
    color: red;

}

body{
    height: 100%;
}

/*--encabezado--*/
header{
    position: absolute;
    margin: 40px 0px 0px 40px;
}

header .logo{
    display: flex;
    align-items: flex-start;
    width: 120px;
    height: 40px;
}

header .caja{
   text-align: center;
   margin-top: 1%;
   position: relative;
   left: 185%;
}


img{
    max-width: 100%;
}


.registro-caja{
    margin: 1%;
    display: block;
}


section{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
}
section h1{
    font-size: 3em;
    display: inline-block;
}

.caja{
    background-color: #7a1e474d;
    height: 4%;
    width: 45%;
    border-radius: 1%;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    -o-border-radius: 1%;
}

.caja2{
    background-color: #7a1e474d;
    height: 6%;
    width: 45%;
    margin-top: 5.5%;
    border-radius: 1%;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    -o-border-radius: 1%;
}
section h2{
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
    font-size: 2.5em;
    color: #ffffff;
    display: inline-block;
}

section form{
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    border: 2px solid rgba(28, 45, 194, 0.486);
}

section form label{
    width: 100%;
    padding: 0.2em;
    margin-bottom: 0.5em;
    color: white;
}

section form input{
    width: 100%;
    margin-bottom: 1em;
    padding: 0.8em;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    border: none;
    outline-color: rgba(101, 199, 161, 0.76);
    background-color: aliceblue;
    -o-border-radius: 9px;
}

section form input[type=submit]{
    margin-top: 1.5em;
    background-color: #7a1e47f5;
    color: #ffffff;
    font-family: var(--font-mono);
    transition: var(--transition);
}

section form input[type=submit]:active{
    transform: scale(0.97);
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
}

.submit:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    cursor: pointer;
}

section p{
    text-align: center;
    margin-top: 1.5em;
}

section p a{
    text-decoration: none;
    color: #808bac;
    font-size: 1.5rem;
    
}

.fondo{
    background-color: #aa909c4d;
    height: 4%;
    width: 30%;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}


footer{
    margin-top: 15px;
    text-align: center;
    padding: 10px;
    border-top: 2px solid var(--fondo-tex);
    color:var(--font);
    text-align: center;
    height: 5px;
    font-size: 20px;
    font-weight: 700;
    color: var(--font);
}


.linke:hover{
    color: var(--greey);
    opacity: 0.8;
}

.github{
    background: var(--greey);
}
.github:hover{
    color: var(--greey);
    opacity: 0.6;
}
.copyright{
    color:var(--font);
    font-size: 13px;
    margin:10px;
}
